# Exercise 1

In this activity, you will work with the New York City Airbnb Open Dataâ€”a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [201]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [202]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [203]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [204]:
df.shape

(48895, 16)

Identify the numerical features:

In [205]:
numerical_features = df.select_dtypes(include=[np.number]).columns.tolist()
numerical_features

['id',
 'host_id',
 'latitude',
 'longitude',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Identify the categorical features

In [206]:
categorical_features = df.select_dtypes(include=['object', 'category']).columns.tolist()
categorical_features

['name',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'room_type',
 'last_review']

What are the top 5 questions this dataset might help answer?

In [207]:
top_questions = [
    "1. Which neighborhoods have the highest average Airbnb prices?",
    "2. What factors (room type, neighborhood, number of reviews) influence price?",
    "3. Which hosts own the most listings in New York City?",
    "4. How does availability vary across different parts of NYC?",
    "5. Is there a relationship between review scores and price or availability?"
]

for q in top_questions:
    print(q)

1. Which neighborhoods have the highest average Airbnb prices?
2. What factors (room type, neighborhood, number of reviews) influence price?
3. Which hosts own the most listings in New York City?
4. How does availability vary across different parts of NYC?
5. Is there a relationship between review scores and price or availability?

## B. Structuring

Check if the dataset has proper column types

In [208]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Check if the dataset has index issues

In [209]:
print("Is index unique? ", df.index.is_unique)
print("Is index monotonic? ", df.index.is_monotonic_increasing)
df.head()

Is index unique?  True
Is index monotonic?  True

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

Check if the dataset has duplicated rows

In [210]:
duplicate_count = df.duplicated().sum()
duplicate_count

np.int64(0)

Convert columns to correct types (e.g., dates â†’ datetime).

In [211]:
# Convert date-like columns if they exist
if 'last_review' in df.columns:
    df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')

df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

Identify at least one structural issue and describe how to fix it.

In [212]:
structural_issues = []

if duplicate_count > 0:
    structural_issues.append(f"{duplicate_count} duplicated rows detected.")

if "last_review" in df.columns and df["last_review"].dtype != "datetime64[ns]":
    structural_issues.append("Column 'last_review' is not in datetime format.")

# Show detected issues
print("STRUCTURAL ISSUES FOUND:")
for issue in structural_issues:
    print("- " + issue)
print("\n")

# --- APPLY FIXES ---
print("APPLYING FIXES...")

# Fix duplicated rows
df = df.drop_duplicates()

# Reset index
df = df.reset_index(drop=True)

# Fix date column again (if needed)
if "last_review" in df.columns:
    df["last_review"] = pd.to_datetime(df["last_review"], errors="coerce")

print("Fixes applied successfully!\n")

# --- DISPLAY UPDATED DATASET ---
print("FIRST 10 ROWS AFTER FIXING:")
display(df.head(10))

print("\nUPDATED COLUMN TYPES:")
print(df.dtypes)

STRUCTURAL ISSUES FOUND:


APPLYING FIXES...
Fixes applied successfully!

FIRST 10 ROWS AFTER FIXING:

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

UPDATED COLUMN TYPES:
id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

## C. Cleaning

Check for missing values

In [213]:
import pandas as pd
import numpy as np

print("===== CHECKING FOR MISSING VALUES =====")
missing_values = df.isnull().sum()
print(missing_values)
print("\nTotal missing cells:", missing_values.sum(), "\n")

===== CHECKING FOR MISSING VALUES =====
id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Total missing cells: 20141

Check for outliers in `minimum_nights`

In [214]:
print("===== OUTLIER CHECK: minimum_nights =====")

if "minimum_nights" in df.columns:
    q1 = df["minimum_nights"].quantile(0.25)
    q3 = df["minimum_nights"].quantile(0.75)
    iqr = q3 - q1
    upper_bound = q3 + 1.5 * iqr
    lower_bound = q1 - 1.5 * iqr

    outlier_condition = (df["minimum_nights"] < lower_bound) | (df["minimum_nights"] > upper_bound)
    outlier_count = outlier_condition.sum()

    print(f"Q1 = {q1}, Q3 = {q3}, IQR = {iqr}")
    print(f"Lower Bound = {lower_bound}, Upper Bound = {upper_bound}")
    print(f"Outliers in minimum_nights: {outlier_count}\n")
else:
    print("Column 'minimum_nights' not found.\n")

===== OUTLIER CHECK: minimum_nights =====
Q1 = 1.0, Q3 = 5.0, IQR = 4.0
Lower Bound = -5.0, Upper Bound = 11.0
Outliers in minimum_nights: 6607

Check for invalid values (e.g., price â‰¤ 0)

In [215]:
print("===== INVALID VALUE CHECK: price â‰¤ 0 =====")

if "price" in df.columns:
    invalid_prices = df[df["price"] <= 0].shape[0]
    print(f"Rows with price â‰¤ 0: {invalid_prices}\n")
else:
    print("Column 'price' not found.\n")

===== INVALID VALUE CHECK: price â‰¤ 0 =====
Rows with price â‰¤ 0: 11

Apply a missing-value strategy (drop, fill, or flag)

In [216]:
print("===== APPLYING MISSING VALUE STRATEGY =====")

num_cols = df.select_dtypes(include=[np.number]).columns
cat_cols = df.select_dtypes(include=['object', 'category']).columns

# Fill numeric NaN with median
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

# Fill categorical NaN with mode
for col in cat_cols:
    if df[col].isnull().sum() > 0:
        df[col] = df[col].fillna(df[col].mode()[0])

print("Missing values handled!\n")

===== APPLYING MISSING VALUE STRATEGY =====
Missing values handled!

Apply an outlier-handling strategy

In [217]:
print("===== APPLYING OUTLIER HANDLING STRATEGY =====")

if "minimum_nights" in df.columns:

    # Recalculate IQR values
    q1 = df["minimum_nights"].quantile(0.25)
    q3 = df["minimum_nights"].quantile(0.75)
    iqr = q3 - q1
    upper_bound = q3 + 1.5 * iqr

    # Cap outliers
    df["minimum_nights"] = np.where(
        df["minimum_nights"] > upper_bound,
        upper_bound,
        df["minimum_nights"]
    )

    print("Outliers in minimum_nights capped!\n")
else:
    print("minimum_nights column not found.\n")

===== APPLYING OUTLIER HANDLING STRATEGY =====
Outliers in minimum_nights capped!

In [218]:
print("===== CLEANING COMPLETE â€” SUMMARY BELOW =====")
print(df.describe(include='all'))

===== CLEANING COMPLETE â€” SUMMARY BELOW =====
                  id            name       host_id host_name  \
count   4.889500e+04           48895  4.889500e+04     48895
unique           NaN           47905           NaN     11452
top              NaN  Hillside Hotel           NaN   Michael
freq             NaN              34           NaN       438
mean    1.901714e+07             NaN  6.762001e+07       NaN
min     2.539000e+03             NaN  2.438000e+03       NaN
25%     9.471945e+06             NaN  7.822033e+06       NaN
50%     1.967728e+07             NaN  3.079382e+07       NaN
75%     2.915218e+07             NaN  1.074344e+08       NaN
max     3.648724e+07             NaN  2.743213e+08       NaN
std     1.098311e+07             NaN  7.861097e+07       NaN

       neighbourhood_group neighbourhood      latitude     longitude  \
count                48895         48895  48895.000000  48895.000000
unique                   5           221           NaN           NaN
top              Manhattan  Williamsburg           NaN           NaN
freq                 21661          3920           NaN           NaN
mean                   NaN           NaN     40.728949    -73.952170
min                    NaN           NaN     40.499790    -74.244420
25%                    NaN           NaN     40.690100    -73.983070
50%                    NaN           NaN     40.723070    -73.955680
75%                    NaN           NaN     40.763115    -73.936275
max                    NaN           NaN     40.913060    -73.712990
std                    NaN           NaN      0.054530      0.046157

              room_type         price  minimum_nights  number_of_reviews  \
count             48895  48895.000000     48895.00000       48895.000000
unique                3           NaN             NaN                NaN
top     Entire home/apt           NaN             NaN                NaN
freq              25409           NaN             NaN                NaN
mean                NaN    152.720687         3.82532          23.274466
min                 NaN      0.000000         1.00000           0.000000
25%                 NaN     69.000000         1.00000           1.000000
50%                 NaN    106.000000         3.00000           5.000000
75%                 NaN    175.000000         5.00000          24.000000
max                 NaN  10000.000000        11.00000         629.000000
std                 NaN    240.154170         3.32072          44.550582

                          last_review  reviews_per_month  \
count                           38843       48895.000000
unique                            NaN                NaN
top                               NaN                NaN
freq                              NaN                NaN
mean    2018-10-04 01:47:23.910099456           1.238930
min               2011-03-28 00:00:00           0.010000
25%               2018-07-08 00:00:00           0.280000
50%               2019-05-19 00:00:00           0.720000
75%               2019-06-23 00:00:00           1.580000
max               2019-07-08 00:00:00          58.500000
std                               NaN           1.520861

        calculated_host_listings_count  availability_365
count                     48895.000000      48895.000000
unique                             NaN               NaN
top                                NaN               NaN
freq                               NaN               NaN
mean                          7.143982        112.781327
min                           1.000000          0.000000
25%                           1.000000          0.000000
50%                           1.000000         45.000000
75%                           2.000000        227.000000
max                         327.000000        365.000000
std                          32.952519        131.622289

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [219]:
# Create price_per_minimum_night
df["price_per_minimum_night"] = df["price"] / df["minimum_nights"]

df[["price", "minimum_nights", "price_per_minimum_night"]].head()

# Create review_rate_per_month by combining ratings + frequency
if "number_of_reviews" in df.columns and "reviews_per_month" in df.columns:
    df["review_rate_per_month"] = df["number_of_reviews"] * df["reviews_per_month"]
else:
    print("Required columns not found.")

df[["number_of_reviews", "reviews_per_month", "review_rate_per_month"]].head()

# Create is_expensive flag
df["is_expensive"] = df["price"] > 150

df[["price", "is_expensive"]].head()

   price  is_expensive
0    149         False
1    225          True
2    150         False
3     89         False
4     80         False

Create 1 aggregated summary table

(e.g. average price per neighborhood, number of hosts per borough)

In [220]:
# Aggregated summary: average price + number of hosts per neighborhood_group
summary_table = df.groupby("neighbourhood_group").agg(
    avg_price=("price", "mean"),
    total_listings=("id", "count"),
    unique_hosts=("host_id", "nunique")
).reset_index()

summary_table

  neighbourhood_group   avg_price  total_listings  unique_hosts
0               Bronx   87.496792            1091           789
1            Brooklyn  124.383207           20104         15966
2           Manhattan  196.875814           21661         16578
3              Queens   99.517649            5666          3983
4       Staten Island  114.812332             373           256

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be â‰¥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [221]:
# Validation check 1: Price must be positive
invalid_price = df[df["price"] <= 0]

print("Rows with invalid price (â‰¤ 0):", invalid_price.shape[0])
invalid_price.head()

# Validation check 2: Host ID must not be null
invalid_host_id = df[df["host_id"].isnull()]

print("Rows with missing host_id:", invalid_host_id.shape[0])
invalid_host_id.head()

# Validation check 3: minimum_nights should be at least 1
invalid_minimum_nights = df[df["minimum_nights"] < 1]

print("Rows with minimum_nights < 1:", invalid_minimum_nights.shape[0])
invalid_minimum_nights.head()

# Build validation report
validation_report = pd.DataFrame({
    "Rule": [
        "Price must be positive",
        "Host ID must not be null",
        "Minimum nights must be â‰¥ 1"
    ],
    "Violations": [
        invalid_price.shape[0],
        invalid_host_id.shape[0],
        invalid_minimum_nights.shape[0]
    ]
})

validation_report

# Remove invalid price rows
df = df[df["price"] > 0]

# Remove rows with missing host_id
df = df[df["host_id"].notnull()]

# Correct invalid minimum_nights by setting them to 1
df.loc[df["minimum_nights"] < 1, "minimum_nights"] = 1

print("Validation fixes applied successfully!")

# Show updated dataset summary
df.describe(include="all")

Rows with invalid price (â‰¤ 0): 11
Rows with missing host_id: 0
Rows with minimum_nights < 1: 0
Validation fixes applied successfully!

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_minimum_night,review_rate_per_month,is_expensive
count,4.888400e+04,48884,4.888400e+04,48884,48884,48884,48884.000000,48884.000000,48884,48884.000000,48884.000000,48884.000000,38833,48884.000000,48884.000000,48884.000000,48884.000000,48884.000000,48884
unique,NaN,47894,NaN,11450,5,221,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,Hillside Hotel,NaN,Michael,Manhattan,Williamsburg,NaN,NaN,Entire home/apt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
freq,NaN,34,NaN,438,21660,3919,NaN,NaN,25407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33946
mean,1.901679e+07,NaN,6.762203e+07,NaN,NaN,NaN,40.728953,-73.952176,NaN,152.755053,3.825301,23.271991,2018-10-04 01:15:09.896222208,1.238839,7.144628,112.779498,71.488535,67.318417,NaN
min,2.539000e+03,NaN,2.438000e+03,NaN,NaN,NaN,40.499790,-74.244420,NaN,10.000000,1.000000,0.000000,2011-03-28 00:00:00,0.010000,1.000000,0.000000,0.909091,0.000000,NaN
25%,9.470548e+06,NaN,7.817310e+06,NaN,NaN,NaN,40.690100,-73.983080,NaN,69.000000,1.000000,1.000000,2018-07-08 00:00:00,0.280000,1.000000,0.000000,21.428571,0.050000,NaN
50%,1.967574e+07,NaN,3.079257e+07,NaN,NaN,NaN,40.723080,-73.955685,NaN,106.000000,3.000000,5.000000,2019-05-19 00:00:00,0.720000,1.000000,45.000000,45.000000,2.060000,NaN
75%,2.915297e+07,NaN,1.074344e+08,NaN,NaN,NaN,40.763120,-73.936290,NaN,175.000000,5.000000,24.000000,2019-06-23 00:00:00,1.580000,2.000000,227.000000,82.000000,32.457500,NaN
max,3.648724e+07,NaN,2.743213e+08,NaN,NaN,NaN,40.913060,-73.712990,NaN,10000.000000,11.000000,629.000000,2019-07-08 00:00:00,58.500000,327.000000,365.000000,8000.000000,9170.820000,NaN
std,1.098432e+07,NaN,7.861666e+07,NaN,NaN,NaN,0.054532,0.046159,NaN,240.170260,3.320666,44.551331,NaN,1.520788,32.956185,131.627271,157.586610,233.739077,NaN

## F. Publishing

Select final columns for publication.

In [222]:
# Select final cleaned columns for export
final_columns = [
    "id",
    "name",
    "host_id",
    "host_name",
    "neighbourhood_group",
    "neighbourhood",
    "latitude",
    "longitude",
    "room_type",
    "price",
    "minimum_nights",
    "number_of_reviews",
    "last_review",
    "reviews_per_month",
    "availability_365",
    "price_per_minimum_night",
    "review_rate_per_month",
    "is_expensive"
]

df_final = df[final_columns]

df_final.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365,price_per_minimum_night,review_rate_per_month,is_expensive
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1.0,9,2018-10-19,0.21,365,149.0,1.89,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1.0,45,2019-05-21,0.38,355,225.0,17.10,True
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3.0,0,NaT,0.72,365,50.0,0.00,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1.0,270,2019-07-05,4.64,194,89.0,1252.80,False
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10.0,9,2018-11-19,0.10,0,8.0,0.90,False

Export cleaned dataset as "cleaned_airbnb.csv"

In [223]:
# Export final cleaned dataset
df_final.to_csv("cleaned_airbnb.csv", index=False)

print("File saved as cleaned_airbnb.csv")

File saved as cleaned_airbnb.csv

Export summary reports (e.g., validation or aggregations) as CSV.

In [224]:
validation_report.to_csv("validation_report.csv", index=False)
print("Validation report exported as validation_report.csv")

summary_table.to_csv("summary_table.csv", index=False)
print("Summary table exported as summary_table.csv")

Validation report exported as validation_report.csv
Summary table exported as summary_table.csv